.container {
  width: 100%;
  max-width: 1200px;
  margin: 56px auto 0px;
  padding: 0 24px;
  border: 2px solid white;

  .profile {
    text-align: center;
    padding: 24px;

    img {
      width: 120px;
    }

    p {
      font-weight: 500;
      line-height: 24px;
      margin-top: 8px;
    }

    h2 {
      font-weight: 600;
      margin: 12px 0;
    }
  }

  .switch {
    width: 64px;
    position: relative;

    margin: 4px auto;

    button {
      width: 32px;
      height: 32px;
      background: white var(--switch-bg-url) no-repeat center;
      border: 0;
      border-radius: 50%;

      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      transform: translateY(-50%);
      // animation: slide-out 0.5s;
      transition: all 0.9s;

      &:hover {
        outline: 8px solid var(--highlight-color);
      }
    }

    span {
      display: block;
      width: 64px;
      height: 24px;
      background: var(--surface-color);
      border: 1px solid var(--stroke-color);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 9999px;
    }

  }

  .about {
    text-align: center;
    padding: 5px;
    font-size: 20px;

    p {
      font-weight: 400;
      margin-top: 10px;
    }
  }

  .light {
    .switch button {
      animation: slide-in 0.4s forwards;
    }
  }

  ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // flex-direction: column;
    gap: 16px;
  
    padding: 24px 0;

    border: 1px solid red;
  }

}