.container {
  width: 100%;
  max-width: 1200px;
  margin: 56px auto 0px;
  padding: 0 24px;
  border: 2px solid white;

  .profile {
    text-align: center;
    padding: 24px;

    img {
      width: 120px;
    }

    p {
      font-weight: 500;
      line-height: 24px;
    }

    h2 {
      font-weight: 600;
      margin: 12px 0;
    }
  }

  .switch {
    display: flex;
    justify-content: center;
    border: 1px solid red;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
    
      transition: background 0.5s;
      border-radius: 50%;

      &:hover {
        background: var(--highlight-color);
      }

      svg {
        width: 24px;
        height: 24px;
      }

    }

    .cv {
      position: relative;

      &:hover::after {
        content: "download cv";
        width: 95px;
        position: absolute;
        bottom: 2px;
        right: 0;
        left: 50px;
        // display: none;
        text-align: center;

      }
    }

  }

  .about {
    text-align: center;
    padding: 5px;
    font-size: 20px;

    p {
      font-weight: 400;
      
      & + p {
        margin-top: 10px;

      }
    }
  }

  .light {
    .switch button {
      animation: slide-in 0.4s forwards;
    }
  }

  ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // flex-direction: column;
    gap: 16px;
  
    padding: 24px 0;

    border: 1px solid red;
  }

}